.container {
	/* background-image: linear-gradient(
		var(--color-secondary),
		var(--color-primary)
	); */
}

.container h1 {
	margin-top: 70px;
	font-size: 80px;
	color: var(--color-secondary);
	text-align: center;
}
